@import "./variables";
@import "./mixins";
@import "./main";
@import "./section";
@import "./range";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  // outline: 2px solid green;
}

body {
  min-height: 100vh;
  position: relative;
  //   max-width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $veryPaleBlue;
  background-image: url("../images/bg-pattern.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  padding: 1em;
  //   background-attachment: fixed;
}

// Global

h1 {
  //   font-size: 1.5rem;
  //   font-size: clamp(1.5rem, 1.3233082706766917rem + 0.7518796992481203vw, 2rem);
  //   font-size: 1.2rem;
  //   font-size: clamp(
  //     1.2rem,
  //     1.0586466165413533rem + 0.6015037593984964vw,
  //     1.6rem
  //   );
  //   font-size: 1.4rem;
  //   font-size: clamp(
  //     1.4rem,
  //     1.3293233082706766rem + 0.3007518796992484vw,
  //     1.6rem
  //   );
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.393984962406015rem + 0.4511278195488722vw, 1.8rem);
  font-stretch: expanded;
  color: $desaturabtedBlue;
}
h2 {
  font-size: 1.15rem;
  font-size: clamp(
    1.15rem,
    1.0793233082706766rem + 0.3007518796992484vw,
    1.35rem
  );
}
h3 {
  font-size: 1.1rem;
  font-size: clamp(
    1.1rem,
    1.0293233082706768rem + 0.30075187969924805vw,
    1.3rem
  );
}

p,
li {
  padding: 0.4em 0;
  font-size: 0.94rem;
  font-size: clamp(0.94rem, 0.918796992481203rem + 0.09022556390977451vw, 1rem);
  color: $grayishBlue;
}

hr {
  width: 100%;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 1em;

  li {
    &::before {
      content: "\2713\0020";
      color: $strongCyan;
      margin-right: 0.2em;
    }
  }
}

@media screen and (min-width: 861px) {
  ul {
    align-items: flex-start;
    margin-left: 2em;
  }
}

button {
  // width: 80%;
  padding: 1em 0;
  width: 80%;

  // border: none;
  border-radius: 24px;
  // box-shadow: 0.2px 0.2px 6px $desaturabtedBlue;
  // background-color: $desaturabtedBlue;
  color: $ctaText;
  background: lighten($desaturabtedBlue, 3%);
  border: 1px solid darken($desaturabtedBlue, 4%);
  box-shadow: 0px 2px 0 darken($desaturabtedBlue, 5%),
    2px 4px 6px darken($desaturabtedBlue, 2%);
  // font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  cursor: pointer;
  &:hover {
    color: $white;
    background: darken($desaturabtedBlue, 1.5%);
    border: 1px solid rgba(#000, 0.05);
    box-shadow: 1px 1px 2px rgba(#fff, 0.2);
    // color: lighten($desaturabtedBlue, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken($desaturabtedBlue, 9.5%);
    transition: all 250ms linear;
  }
}

// Foooter

footer {
  // position: absolute;
  // bottom: 0;
  margin-top: 3em;
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}
