@charset "UTF-8";
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .heading {
  padding: 2em 0;
  margin-top: 2em;
  background-image: url("../images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main .heading h1 {
  margin-bottom: 0.25em;
  font-weight: 700;
  text-align: center;
}
main .heading p {
  text-align: center;
  width: 70%;
  margin: auto;
}
@media screen and (min-width: 670px) {
  main .heading p {
    width: auto;
  }
}
@media screen and (min-width: 670px) {
  main .heading {
    padding: 3em;
  }
}

section {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  min-height: 40em;
  margin-top: 3.5em;
  border-radius: 12px;
  box-shadow: 0.25px 0.25px 4px rgba(63, 63, 63, 0.39);
  background-color: hsl(0deg, 0%, 100%);
}
section p {
  text-transform: uppercase;
}
section .wrap {
  display: flex;
}
section .wrap h2 {
  font-size: 2.2rem;
  color: hsl(227deg, 35%, 25%);
  font-weight: 700;
}
section .wrap span {
  margin-left: 1em;
  align-self: center;
  color: hsl(225deg, 20%, 60%);
  font-size: 1.1rem;
}
section .subscription-plan {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}
section .subscription-plan p {
  font-size: 0.87rem;
  text-transform: capitalize;
}
section .subscription-plan i {
  align-self: center;
  margin-left: 0.2em;
  margin-right: 0.2em;
  cursor: pointer;
  color: hsl(225deg, 20%, 60%);
}
section .subscription-plan span {
  background-color: hsl(14deg, 92%, 95%);
  border-radius: 35%;
  font-size: 0.65rem;
  padding: 0 0.6em;
  margin-left: 0.5em;
  color: hsl(15deg, 100%, 70%);
}

input[type=range] {
  -webkit-appearance: none;
  margin-right: 15px;
  width: 80%;
  height: 7px;
  background: hsl(174deg, 77%, 80%);
  border-radius: 5px;
  background-size: 75% 100%;
  background-repeat: no-repeat;
}
input[type=range]:hover, input[type=range]:focus {
  background-color: hsl(174deg, 86%, 45%);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: hsl(174deg, 86%, 45%);
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
  padding: 0.5em 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: hsl(230deg, 100%, 99%);
  background-image: url("../images/bg-pattern.svg");
  background-size: 100% 50%;
  background-repeat: no-repeat;
  padding: 1em;
}

h1 {
  font-size: 1.5rem;
  font-size: clamp(1.5rem, 1.3939849624rem + 0.4511278195vw, 1.8rem);
  font-stretch: expanded;
  color: hsl(227deg, 35%, 25%);
}

h2 {
  font-size: 1.15rem;
  font-size: clamp(1.15rem, 1.0793233083rem + 0.3007518797vw, 1.35rem);
}

h3 {
  font-size: 1.1rem;
  font-size: clamp(1.1rem, 1.0293233083rem + 0.3007518797vw, 1.3rem);
}

p,
li {
  padding: 0.4em 0;
  font-size: 0.94rem;
  font-size: clamp(0.94rem, 0.9187969925rem + 0.0902255639vw, 1rem);
  color: hsl(225deg, 20%, 60%);
}

hr {
  width: 100%;
}

ul {
  border-top: 1px solid hsl(225deg, 20%, 60%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-top: 1em;
}
ul li::before {
  content: "✓ ";
  color: hsl(174deg, 86%, 45%);
  margin-right: 0.2em;
}

button {
  width: 80%;
  padding: 1.5em 0;
  border: none;
}

footer {
  margin-top: 1em;
}
footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=styles.css.map */